<div class="row"></div>
	
	<div class="col-md-4">
		<h3>Best beers</h3>
		<%= render 'list', best: top_beers %>
	</div>

	<div class="col-md-4">
		<h3>Best breweries</h3>
		<%= render 'list', best: top_breweries %>
	</div>

	<div class="col-md-4">
		<h3>Best styles</h3>
		<%= render 'list', best: top_styles %>
	</div>

	