<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @style.description %>
</p>

<p>
	<% @style.beers.each do |beer| %>
		<%= link_to beer.name, beer %>
	<% end %>
</p>

<%= edit_and_destroy_buttons(@style) %>