// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.account-frozen {
	background-color: #33CCFF;
	color: white;
	padding: 4px;
	border-radius: 4px;
}